---
import Layout from "@/layouts/Layout.astro";
import { getEntry } from "astro:content";
import { safeGetCollection } from "@/lib/content";
import { Button } from "@/components/ui/button";
import Markdown from "@/components/Markdown.astro";

const meta = (await getEntry("meta", "data"))!;

console.log(meta);

const name = meta.data.snowfall?.meta.name ?? "flake";

/*
const collections = {
	lib: await safeGetCollection("lib"),
	apps: await safeGetCollection("apps"),
	options: await safeGetCollection("options"),
	overlays: await safeGetCollection("overlays"),
	packages: await safeGetCollection("packages"),
	shells: await safeGetCollection("shells"),
};
*/
---

<Layout title="Frost">
	<div class="px-2">
		{
			meta.data.snowfall && meta.data.snowfall.meta.title ? (
				<h1 class="text-4xl font-black mb-2">
					{meta.data.snowfall.meta.title}
				</h1>
			) : (
				<h1 class="text-4xl font-black mb-2">Flake Documentation</h1>
			)
		}
		<Markdown
			of={`\`\`\`nix
{
	inputs = {
		nixpkgs.url = "github:nixos/nixpkgs/nixos-23.05";

		# Add this flake as an input.
		${name}.url = "${meta.data.flake.uri}";
	};

	outputs = { nixpkgs, ${name}, ... }: {
		# Use ${name}
	};
}
\`\`\``}
		/>
	</div>
</Layout>
